body{
  background-color: #faf3e0;
  margin: 0;
  line-height: 1.6;
  background-image: url(../Images/pexels-johannes-plenio-1103970.jpg);
}
*,
*::before,
*::after{
  box-sizing: border-box ;
}
:root{
  --ff-primary:nunito sans;
  --ff-secondary:blinker;
  --ff-regular:300;
  --ff-bold:900;

  --fs-h1:3rem;
  --fs-h2:2.25rem;
  --fs-h3:1.25rem;
  --fs-body:1rem;
}

@media (min-width: 800px){
  :root{
  --fs-h1:4.5rem;
  --fs-h2:3.75rem;
  --fs-h3:1.5rem;
  --fs-body:1.25rem;
  }
}
strong{
  font-weight: bolder;
  text-decoration: underline;
  font-size: 20px;
  font-family:lobster;
}

img{
  display: block;
  /* max-width: 100%; */
  width: 400px;
  height: 400px;
}
h1,h2,h3{
  line-height: .25rem;
  margin: 0;
  margin-bottom:2%;
}
.s1intro, .S1intopar{
  padding-left: 1rem;
  position: relative;
}
.S1intopar{
  background-color:grey;
  margin-bottom: 2%;
  align-self: flex-start;
  grid-column: 1/1;
  font-size: 15px;
}
section{
  padding: 1em 4em;
}
.intro,.workExp, .mySkills,.myProjects,.contactme{
  margin:0;
  font-weight: var(--ff-regular);
  margin-bottom:0;

}
.intro{
  position: relative;
  margin-bottom: 2%;

}
@media (min-width:600px){
  .intro{
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap:1em;
    grid-template-areas:
      "img title"
      "img subttle" ;
    grid-template-columns: min-content max-content;
  }
  .img1{
    grid-area: img;
    min-width: 200px;
    min-height: 200px;
    margin-left: 0;
    margin-left: 0;
  }
}
.aboutme{
  background-color: #b68973;
  color:#7eca9c;
  background-image: url(../Images/background.jpg);
  background:cover;
  background-blend-mode: multiply;
  text-align: center;
  margin-bottom:2%;
}
.s2aboutme{
color:#7eca9c;
position: relative;
/* padding-top: 2%; */
}
.s2aboutme::after{
  content: '';
  display: block;
  width: 25%;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background:white;
  font-size: 50px;
  margin-bottom: 2%;
  opacity: 0.25;
  text-align: center;
}
.aboutmeA{
  display:flex;
  margin: 0 auto;
  vertical-align: middle;
  color:#7eca9c;
  }
@media (min-width:800px){
.aboutmeA{
  display:flex;
  max-width: 1000px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
}
.certifications+.bachelors+.others{
  margin-left:1em;
}
.bachelors,.certifications,.others{
  margin: 0;
  padding: 0;
}
.certs,.degree,.certs2{
  font-size: 25px;
  color: grey;
 }
.cert,.cert2A li{
  list-style: none;
}
.certifications{
  float: left;
  width: 50%;
}
.others{
  float: right;
  width: 50%
}
.bachelors{
  text-align: center;
  width: 50%;
  margin-left: 2em;
  margin-right: 2em;
}
.focus{
  display:inline-block;
  padding: -5em -2.5m;
  background-color: #7eca9c;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 200ms ease-in-out;
  margin-top: 1%;
}
.focus:hover{
  transform: scale(1.1);
}
.workExp{
  margin-left: 2%;
  margin-right: 0%;
}
@media (min-width: 600px){
  .workExp{
    display: grid;
    grid-template-areas: 
    "section3work"
  }
}
.myWorkExp{
  text-align: center;
  text-decoration:underline ;
  margin-bottom: 2em;
  color:grey;
  font-weight: bolder;
  font-size: 60px;
  padding-top: 2%;
}
.work{
  position: relative;
  display: flex;
}
@media (min-width: 600px){
  .work{
   position:relative;
  }
}
.section3work{
  font-size: 18px;
  color: #26001b;
  font-family: font-family-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.work1 li, .work2 li, .work3 li, .work4 li{
  list-style: none;
}
.work1, .work2, .work3, .work4{
  font-size: 12px;
}
.workExp{
  background-color: #cee6b4;
  margin-right: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}
.mySkills{
  text-align: center;
  background-color: ivory;
  float: right;
  margin-right: 50%;
}
.skills{
  text-align: center;
  text-decoration:underline ;
  margin-bottom: 2em;
  margin-top: 1em;
  color:grey;
  font-weight: bolder;
  font-size: 40px;
}
.skill ul li{
  list-style: none;
}
.myProjects{
  background-color: rgb(241, 241, 197);
  text-align: center;
  position: static;
  float: left;
  position :absolute;
  margin-left: 50%;
  text-align: center;
  margin-bottom: 2em;
  color:grey;
  font-weight: bolder;
  width: 520px;
  height: 425px;
}
.prjct{
  text-align: center;
  text-decoration:underline ;
  margin-bottom: 1em;
  color:grey;
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 50%;
  padding: 12%;
}
.portfolio li{
  list-style: none;
}
.contactme{
  display: relative;
  text-align: center;
  margin-top: 35%;
}
.reachme{
  margin-top: 2%;
  color:white;
  text-decoration: wavy;
  font-weight: bolder;
}
.mail{
  float: left;
  margin-left: 12%;
  font-weight: bold;
  font-size: 20px;
  }
.lkinn{
  float: right;
  margin-right: 12%;
  font-weight: bold;
  font-size: 20px;
}
.call{
  font-weight: bold;
  font-size: 20px;
}
footer{
  text-align: center;
  color: aliceblue;
  margin-top: 4%;
  margin-bottom: 2%;
  }
.hamareas{
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
  /* flex-direction: row; */
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 6%;
  text-align: center;
  margin-right: 0%;
 }
.hamareas ul{
  align-items: center;
  text-align: none;
  margin:0%;
  display: flex;
  padding: 0%;
  text-decoration: none;
}
.hamlists li{
  display: flex;
  justify-content: space-between;
  margin-right:15% ;
  cursor: pointer;
  padding-left: 26%;
  font-weight: bold;
  font-size: 20px;
}
.hamlistings{
  text-decoration: none;
}
.hamlistings:hover{
  background-color:gray;
  text-align: center;
}
  
.hamlistings{
  /* background-color: #ffdf91; */
  text-decoration: none;
  padding-left: 17%;
  padding-right: 7%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}
.hamlink1,.hamlink2, .hamlink3, .hamlink4, .hamlink5, .hamlink6{
  text-decoration: none;
  font-weight: var(--ff-bold);
  font-size: 15px;
  color:whitesmoke;
}
